@use '../utils/variables' as *;

.form-select-chosen {
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 100%;

  &__input {
    display: none;
  }

  &__output-wrap {
    border: 1px solid $color-secondary;
    padding: $output-padding;
    border-radius: $select-border-radius;
  }

  &__output {
    color: $color-primary;

    &:empty::before {
      content: attr(data-placeholder);
      color: $color-secondary;
    }
  }

  &__search {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-height: $dropdown-max-height;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid $color-secondary;
    border-top: none;
    z-index: 2;
    background-color: $color-white;
    top: calc(100% - 10px);
    border-radius: 0 0 $select-border-radius $select-border-radius;

    &:not(.is-visible) {
      display: none;
    }
  }

  &__search-input-wrapper {
    border: 1px solid $color-secondary;
    margin: $search-wrapper-margin;
    border-radius: $select-border-radius;
    display: flex;
    align-items: center;
    padding: $search-wrapper-padding;
    background: $color-white;
  }

  &__search-input {
    outline: none;
    padding: $search-input-padding;
    margin: $search-input-margin;
    border-radius: $select-border-radius;
    color: $color-primary;
    border: 1px solid $color-secondary;
    background-color: $color-white;
    font-size: 14px;
    background: url('./assets/icons/search.svg') no-repeat center;
    background-repeat: no-repeat;
    background-position: $icon-position center;
    background-size: $search-icon-size $search-icon-size;
    
    &:focus {
      box-shadow: $focus-shadow;
    }
  }

  &__options {
    margin: 0;
    padding: 0;
    max-height: $dropdown-max-height;
    list-style-type: none;
    overflow: auto;
  }

  &__option {
    color: $color-primary;
    padding: $option-padding;
    cursor: pointer;
    border-top: 1px solid $color-border;
    transition: $hover-transition;

    @media (hover: hover) {
      &:hover {
        background: $color-hover;
      }
    }
  }
}

.error-class-custom {
  .form-select-chosen {
    &__output {
      &:before {
        color: $color-error;
      }
    }
  }

  .input-error {
    color: $color-error;
  }
}